In [6]:
import pandas as pd
import psycopg2 as pg

engine = pg.connect("dbname='ohdsi_selected_vocabs' user='sigfried' host='127.0.0.1' port='5432' password='psql'")
df = pd.read_sql('select * from cdm.concept limit 5', con=engine)
display(df)

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason
0,0,No matching concept,Metadata,None,Undefined,None,No matching concept,1970-01-01,2099-12-31,None
1,8507,MALE,Gender,Gender,Gender,S,M,1970-01-01,2099-12-31,None
2,8515,Asian,Race,Race,Race,S,2,1970-01-01,2099-12-31,None
3,8516,Black or African American,Race,Race,Race,S,3,1970-01-01,2099-12-31,None
4,8527,White,Race,Race,Race,S,5,1970-01-01,2099-12-31,None